@import "../../../../vars";

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    top: 100px;

    width: 265px;
    margin: auto;

    background: $bg-color__dialog;
    border: 2px solid $color;

    opacity: 1;
    &__title {
        flex: 0 0 25px;
        width: 100%;
        background: $color;

        font: 12px/12px arial;
        line-height: 25px;

        display: flex;
        &--content {
            flex: 1 0 70%;
            padding-left: 4px;
            overflow: hidden;
            user-select: none;
        }
        &--close-button {
            cursor: pointer;
        }
    }
    &__content {
        flex: 1 0 90%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &--children {
            padding: 15px;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.99;
    background-color: $bg-color;
    :focus {
        outline: none;
    }
}