@import "../../../vars";

.btn {
    border: 0;
    border-radius: $button__radius;
    font: 10pt/10pt arial;
    overflow: hidden;
    height: $button__size;
    width: $button__size;
    &--selected {
        opacity: 0.3;
    }
    &--minus {

    }
    &--reset-word {
        margin: 0 1px;
        width: 75px;
    }
    &--plus {

    }
    &--count {
        height: $count-button__size;
        width: $count-button__size;
        margin: $margin 1px;
    }
    &--reset-all-words {
        height: $count-button__size;
        width: 100px;
        margin: $margin 1px;
    }
    &--caps {
        height: $pass-box-button__height;
        width: $pass-box-button__width;
        min-width: $pass-box-button__width;
        margin: 1px 0;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &--copy {
        height: $pass-box-button__height;
        width: $pass-box-button__width;
        min-width: $pass-box-button__width;
        margin: 1px 0;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        i {
            @include fa($fa-clipboard, $bg-color, $pass-box-button__height - 10px);
        }
    }
}