@import "./../../vars";

.app-menu {
    background-color: $app-menu__bg-color;
    //box-shadow: 0 0 7px $text-color;

    padding: 0;
    margin: 0;
    width: 100%;
    line-height: 0;
    position: sticky;
    top: 0;
    &__item {
        color: $app-menu__color;
        display: inline-block;
        overflow: hidden;
        &:hover {
            background: $app-menu__color;
            color: $app-menu__bg-color;
        }
        a {
            display: block;
            line-height: $app-menu__height;
            height: 100%;
            padding: 0 10px;
            text-decoration: none;
        }
    }
}

$height-decrement: 10px;

.fa-home::before {
    @include fa($fa-home, $app-menu__color - 15, $app-menu__height - $height-decrement);
    margin-right: 5px;
}
.fa-info-circle::before {
    @include fa($fa-info-circle, $app-menu__color - 15, $app-menu__height - $height-decrement);
    margin-right: 5px;
}
.fa-phone-square::before {
    @include fa($fa-phone-square, $app-menu__color - 15, $app-menu__height - $height-decrement);
    margin-right: 5px;
}
