@import "../../../../vars";

.button {
    border: 0;
    border-radius: $radius__button;
    font: 12px/12px arial;
    overflow: hidden;
    height: $size__button;
    width: $size__button;
    user-select: none;

    &--selected {
        opacity: 0.3;
    }
    &--disabled {
        opacity: 0.1;
    }
    &--reset-word {
        margin: 0 1px;
        width: $width__reset-word-button;
    }
    &--count {
        margin: $margin 1px;
        height: $size__count-button;
        width: $size__count-button;
    }
    &--reset-all-words {
        margin: $margin 1px;
        height: $size__count-button;
        width: $width__reset-all-words-button;
    }
    &--caps {
        margin: 1px 0;
        height: $height__pass-box-button;
        width: $width__pass-box-button;
        min-width: $width__pass-box-button;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &--copy {
        margin: 1px 0;
        height: $height__pass-box-button;
        width: $width__pass-box-button;
        min-width: $width__pass-box-button;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        i {
            @include fa($fa-clipboard, $bg-color, $height__pass-box-button - 10px);
        }
    }
    &--editor {
        margin: 5px;
        width: 75px;
    }
    &--char {
        margin: 1px;
    }
    &--back-space {
        margin: 5px;
        width: $width__back-space-button;
    }
    &--dialog-close {
        width: 70px;
    }
}