@import "variables";

$wc__width: 130px;
$wc__min-width: 100px;
$wc__margin: $margin;

$box-width: $wc__width + $border * 2 + $padding * 2;
$sprite: 25px;

.wc {
    border-radius: 5px;
    border: solid $border $text-color;
    box-shadow: 0 0 7px $text-color;
    display: inline-block;
    font: 13pt/13pt serif;
    margin: $margin;
    padding: $padding;
    width: $wc__width;
    &__wrapper {
        display: inline-block;
    }
    &__word {
        color: $text-color;
        opacity: 0.1;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
        &--prev, &--next {
            opacity: 0.2;
        }
        &--current {
            color: white;
            font-weight: bold;
            opacity: 1;
            &:hover {
                cursor: text;
            }
        }
    }
    &__code {
        background: url(../img/sprite25.png), no-repeat;
        float: left;
        height: $sprite;
        margin: $margin auto;
        width: $sprite;
        &--1 {
            background-position: 0 0;
        }
        &--2 {
            background-position: -$sprite 0;
        }
        &--3 {
            background-position: -2*$sprite 0;
        }
        &--4 {
            background-position: -3*$sprite 0;
        }
        &--5 {
            background-position: -4*$sprite 0;
        }
        &--6 {
            background-position: -5*$sprite 0;
        }
    }
}