@import "../../../vars";

.wv {
    @include bordered_box;
    display: inline-block;
    width: $width__word-view;
    margin: $margin;
    padding: $padding;

    &__word {
        display: block;
        margin: $margin auto;
        font: 13pt/13pt serif;
        color: $color__text;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
        &--prev2, &--next2 {
            opacity: 0.1;
        }
        &--prev1, &--next1 {
            opacity: 0.2;
        }
        &--current {
            opacity: 1;
            color: white;
            font-weight: bold;
            &:hover {
                cursor: text;
            }
        }
    }

    &__code {
        display: block;
        background: url("sprite25.png"), no-repeat;
        //margin: auto;

        &--common {
            display: inline-block;
            height: 25px;
            width: 25px;
            vertical-align: middle;
        }

        @for $i from 1 through 6 {
            &--#{$i} {
                background-position: (-1)*($i+(-1))*$size__sprite 0;
            }
        }
    }
}