.btn {
    border: 0;
    border-radius: 2px;
    font: 10pt/10pt arial;
    height: 20px;
    overflow: hidden;
    &__plus,
    &__minus {
        margin: 1px;
    }
}

.w20 {
    width: 20px;
}

.w25 {
    width: 25px;
}

.w75 {
    width: 75px;
}

.h20 {
    height: 20px;
}

.h25 {
    height: 25px;
}