@import "../vars";

html {
    background: $bg-color + 50;

    display: -webkit-flex;
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100%;

    font-family: serif;
}

body {
    display: -webkit-flex;
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;

    margin: 0;
    padding: 0 $padding;
}

#app, [data-reactroot] {
    display: -webkit-flex;
    display: flex;
    flex: auto;
    flex-direction: column;
}

h1 {
    margin: 10px;
}

h2 {
    color: whitesmoke;
    margin: 10px;
}

p {
    margin: 5px;
    padding: 5px;
}

a {
    color: $color__link;
    text-decoration: none;
}

.app {
    display: -webkit-flex;
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    min-width: $min-width__app;
    justify-content: center;
    align-items: center;

    color: $color__text;
    text-align: center;
    margin: 5px auto;
    &__content {
        flex: 1 0 auto;
        width: 100%;
        background: $bg-color;
        &--info {
            padding: 10px 0;
            font: 11pt/11pt Arial;
            p {
                text-align: justify;
            }
        }
        &--contacts, &--oops {
            font: 11pt/11pt Arial;
            display: flex;
            justify-content: center;
            &-box {
                flex: 0 1 50%;
                align-self: center;
                background: $bg-color__contacts;
                padding: 10px;
                @include bordered_box;
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 10px;
                    text-align: left;
                    .col1 {
                        flex: 0 0 30%;
                    }
                    .col2 {
                        flex: 1 1 70%;
                        color: $color__link;
                    }
                }
            }
        }
    }
}