@import "../../../vars";

$pass-color: #fff;

.password-view {
    margin: $margin auto;
}

.password {
    &__before-text {
        @include fa($fa-chevron-right, $color__text, $font-size__pass - 5px);
        margin: 0 15px;
        cursor: pointer;
        &--opened {
            @include fa($fa-chevron-down, $color__text, $font-size__pass - 5px);
            margin: 0 15px;
        }
    }
    &__text {
        color: $pass-color;
        font-size: $font-size__pass;
        font-weight: bold;
        margin: 10px;
    }
    &__after-text {
        @include fa($fa-clipboard, $color__text, $font-size__pass - 5px);
        margin: 0 15px;
        cursor: pointer;
    }

    &__dropbox {
        padding: $padding;
        &--elem {
            display: -webkit-flex;
            display: flex;
            flex: auto;
            flex-direction: row;

            margin: 1px auto;
            align-items: center;
            width: 70%;
            & input {
                border: 0;
                height: $height__pass-input;
                line-height: $height__pass-input;
                min-width: 50px;
                padding: 0 5px;
                text-align: center;
                flex-grow: 1;
                font: 14px Arial;
            }
        }
    }
}