@import "../../../vars";

$pass-color: #fff;

.password {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size__pass;

    &__before-text {
        flex: 0 0 25px;
        margin: 0 15px;
        cursor: pointer;
        font-size: 80%;
    }
    &__text {
        color: $pass-color;
        font-weight: bold;
        line-height: $font-size__pass;
        margin: 10px;
        max-width: 90%;
    }
    &__after-text {
        flex: 0 0 25px;
        margin: 0 15px;
        cursor: pointer;
        font-size: 80%;
    }
}

.variants {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    &__row {
        display: flex;
        align-items: center;
        width: 80%;
        max-width: 600px;
        &--left-button {
            flex: 0 0 $width__pass-box-button
        }
        &--input {
            flex: 1 1 100px;
            border: 0;
            height: $height__pass-input;
            line-height: $height__pass-input;
            padding: 0 5px;
            text-align: center;
            font: 14px Arial;
        }
        &--right-button {
            flex: 0 0 $width__pass-box-button;
            color: $bg-color;
            font-size: $height__pass-box-button - 8px;
        }
    }
}