@import "../../../vars";

$pass-color: #fff;

.password {
    display: flex;
    justify-content: center;
    align-items: center;
    &__before-text {
        flex: 0 0 25px;
        @include fa($fa-chevron-right, $color__text, $font-size__pass - 5px);
        margin: 0 15px;
        cursor: pointer;
        &--opened {
            @include fa($fa-chevron-down, $color__text, $font-size__pass - 5px);
        }
    }
    &__text {
        color: $pass-color;
        font-weight: bold;
        font-size: $font-size__pass;
        line-height: $font-size__pass;
        margin: 10px;
        max-width: 90%;
    }
    &__after-text {
        flex: 0 0 25px;
        color: $color__text;
        margin: 0 15px;
        cursor: pointer;
        width: 25px;
        height: 30px;
    }
}

.variants {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    &__row {
        display: flex;
        align-items: center;
        width: 80%;
        max-width: 600px;
        &--left-button {
            flex: 0 0 $width__pass-box-button
        }
        &--input {
            flex: 1 1 100px;
            border: 0;
            height: $height__pass-input;
            line-height: $height__pass-input;
            padding: 0 5px;
            text-align: center;
            font: 14px Arial;
        }
        &--right-button {
            flex: 0 0 $width__pass-box-button
        }
    }
}