@import "../../../vars";

.menu {
    flex: 0 0 auto;
    background-color: $bg-color__menu;
    padding: 0;
    margin: 0;
    width: 100%;
    line-height: 0;
    &__item {
        color: $color__menu;
        display: inline-block;
        overflow: hidden;
        &:hover {
            background: $color__menu;
            color: $bg-color__menu;
        }
        a {
            color: inherit;
            display: block;
            line-height: $height__menu;
            height: 100%;
            padding: 0 10px;
        }
    }
}