@import "../node_modules/fontawesome-scss/fontAwesome";
// @include fa($имя-иконки, цвет, размер)

$border: 2px;

$margin: 5px;
$margin__word-container: $margin;

$padding: 10px;

$color: #62b1d8;
$bg-color: #2B3A42;

$color__text: $color;
$color__link: lightgray;
$color__menu: $bg-color;

$bg-color__menu: $color__text;
$bg-color__footer: $bg-color - 10;
$bg-color__contacts: $bg-color__footer;
$bg-color__dialog: $bg-color__footer;

$height__px: 25px;
$height__menu: 30px;
$height__pass-text-button: $height__px;
$height__pass-box-button: $height__px;
$height__pass-input: $height__px;

$width__word-view: 125px;
$width__box: $width__word-view + $border * 2 + $padding * 2;
$width__reset-word-button: 75px;
$width__reset-all-words-button: 100px;
$width__pass-text-button: 25px;
$width__pass-box-button: 50px;
$width__back-space-button: 75px;

$min-width__app: 320px;
$min-width__popup: $min-width__app * 0.8 + 15px;
$min-width__word-container: 100px;

$size__sprite: 25px;
$size__button: 20px;
$size__count-button: 25px;

$font-size__pass: 30px;

$radius__button: 2px;

@mixin bordered_box {
    border-radius: 5px;
    border: solid $border $color__text;
    box-shadow: 0 0 7px $color__text;
}
